APP_NAME=akiba
APP_ENV=testing
APP_KEY=base64:dGVzdGluZy1ha2liYS1hcHAta2V5LWZvci1sb2NhbA==
APP_DEBUG=true
APP_URL=http://localhost

APP_TIMEZONE=America/Sao_Paulo

DB_CONNECTION=sqlite
DB_DATABASE=:memory:
