@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
    /* Neutral */
    --color-neutral-white: #ffffff;
    --color-neutral-gray: #808080;

    /* Suspense */
    --color-suspense-aurora: #fffaf3;
    --color-suspense-sandstone: #e6ded1;
    --color-suspense-honeycream: #ffe8bf;

    /* Reds */
    --color-red-crimson: #ed3237;

    /* Oranges */
    --color-orange-morning: #ffc171;
    --color-orange-citric: #ffaa35;
    --color-orange-amber: #ff8000;
    --color-orange-copper: #f65600;

    /* Blues */
    --color-blue-ocean: #002080;
    --color-blue-marinho: #000036;
    --color-blue-skywave: #0091ff;
    --color-blue-cerulean: #0059c0;
    --color-blue-night: #000014;

    /* Purples */
    --color-purple-mystic: #b82bff;
    --color-purple-lilac: #BD87FF;

    /* Greens */
    --color-green-mint: #00a859;
    --color-green-forest: #009933;

    /* Gradients */
    --gradient-blue-primary: linear-gradient(
        50deg,
        rgba(0, 32, 128, 1) 10%, 
        rgba(0, 0, 54, 0.05) 28%, 
        rgba(0, 32, 128, 1) 100%
    );
}

@theme {
    --color-neutral-white: var(--color-neutral-white);
    --color-neutral-gray: var(--color-neutral-gray);

    --color-suspense-aurora: var(--color-suspense-aurora);
    --color-suspense-sandstone: var(--color-suspense-sandstone);
    --color-suspense-honeycream: var(--color-suspense-honeycream);

    --color-red-crimson: var(--color-red-crimson);

    --color-orange-morning: var(--color-orange-morning);
    --color-orange-citric: var(--color-orange-citric);
    --color-orange-amber: var(--color-orange-amber);
    --color-orange-copper: var(--color-orange-copper);

    --color-blue-ocean: var(--color-blue-ocean);
    --color-blue-marinho: var(--color-blue-marinho);
    --color-blue-skywave: var(--color-blue-skywave);
    --color-blue-cerulean: var(--color-blue-cerulean);
    --color-blue-night: var(--color-blue-night);

    --color-purple-mystic: var(--color-purple-mystic);
    --color-purple-lilac: var(--color-purple-lilac);

    --color-green-mint: var(--color-green-mint);
    --color-green-forest: var(--color-green-forest);
}

@theme {
    --font-noto-sans: "Noto Sans", sans-serif;
}

@layer components {
    .container-page {
        width: min(100% - clamp(4rem, 5vw, 5rem), 85.375rem);
        margin-inline: auto;
    }

    .container-player {
        width: min(100% - clamp(1rem, 5vw, 4rem), 68.75rem);
        margin-inline: auto;
    }
}

@layer utilities {
    .scroll-x {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .scroll-x::-webkit-scrollbar {
        display: none;
    }

    .bg-gradient-with-texture {
        background: url('https://i.ibb.co/Tdhkkyg/3.png'), var(--gradient-blue-primary);
        background-blend-mode: overlay;
        background-size: contain;
        background-position: right;
        background-repeat: no-repeat;
    
    }
}

/*
    Filters generated to match the color palette of the project, based on the original image of the logo.
    Filter Generator: https://codepen.io/sosuke/pen/Pjoqqp
*/
@utility filter-neutral-gray {
    filter: invert(54%) sepia(12%) saturate(23%) hue-rotate(46deg) brightness(92%) contrast(88%);
}

@utility filter-suspense-honeycream {
    filter: invert(92%) sepia(5%) saturate(2300%) hue-rotate(327deg) brightness(104%) contrast(101%);
}

@utility filter-blue-skywave {
    filter: invert(53%) sepia(84%) saturate(4530%) hue-rotate(185deg) brightness(99%) contrast(112%);
}

@utility filter-blue-ocean {
    filter: invert(10%) sepia(55%) saturate(5448%) hue-rotate(224deg) brightness(90%) contrast(109%);
}

@utility filter-blue-marinho {
    filter: invert(8%) sepia(27%) saturate(5191%) hue-rotate(227deg) brightness(96%) contrast(124%);
}

@utility filter-blue-midnight {
    filter: invert(5%) sepia(9%) saturate(7430%) hue-rotate(191deg) brightness(102%) contrast(108%);
}

@utility filter-red-crimson {
    filter: invert(44%) sepia(59%) saturate(4904%) hue-rotate(335deg) brightness(88%) contrast(113%);
}

@utility filter-orange-amber {
    filter: invert(64%) sepia(30%) saturate(6101%) hue-rotate(8deg) brightness(106%) contrast(102%);
}

@utility filter-orange-morning {
    filter: invert(84%) sepia(12%) saturate(1050%) hue-rotate(333deg) brightness(111%) contrast(105%);
}

@utility filter-orange-citric {
    filter: invert(67%) sepia(64%) saturate(1600%) hue-rotate(357deg) brightness(103%) contrast(104%);
}
